In [13]:
import pandas as pd
import numpy as np

In [20]:
cgm_data=pd.read_csv('CGMData.csv',low_memory=False,usecols=['Date','Time','Sensor Glucose (mg/dL)'])
insulin_data=pd.read_csv('InsulinData.csv',low_memory=False)

In [21]:
cgm_data['date_time_stamp']=pd.to_datetime(cgm_data['Date'] + ' ' + cgm_data['Time'])
cgm_data

            Date      Time  Sensor Glucose (mg/dL)     date_time_stamp
0      2/12/2018  13:22:27                   118.0 2018-02-12 13:22:27
1      2/12/2018  13:17:27                   122.0 2018-02-12 13:17:27
2      2/12/2018  13:12:27                     NaN 2018-02-12 13:12:27
3      2/12/2018  13:07:27                     NaN 2018-02-12 13:07:27
4      2/12/2018  13:02:27                     NaN 2018-02-12 13:02:27
...          ...       ...                     ...                 ...
55338  7/25/2017  12:28:54                   311.0 2017-07-25 12:28:54
55339  7/25/2017  12:23:54                   311.0 2017-07-25 12:23:54
55340  7/25/2017  12:18:54                   309.0 2017-07-25 12:18:54
55341  7/25/2017  12:13:54                   310.0 2017-07-25 12:13:54
55342  7/25/2017  12:08:54                   314.0 2017-07-25 12:08:54

[55343 rows x 4 columns]

In [22]:
date_to_remove=cgm_data[cgm_data['Sensor Glucose (mg/dL)'].isna()]['Date'].unique()
date_to_remove

array(['2/12/2018', '2/11/2018', '2/10/2018', '2/9/2018', '2/8/2018',
       '2/7/2018', '2/6/2018', '2/5/2018', '2/4/2018', '2/3/2018',
       '2/2/2018', '2/1/2018', '1/31/2018', '1/30/2018', '1/29/2018',
       '1/28/2018', '1/27/2018', '1/26/2018', '1/25/2018', '1/24/2018',
       '1/23/2018', '1/22/2018', '1/20/2018', '1/17/2018', '1/16/2018',
       '1/15/2018', '1/14/2018', '1/13/2018', '1/12/2018', '1/11/2018',
       '1/1/2018', '12/31/2017', '12/30/2017', '12/29/2017', '12/28/2017',
       '12/27/2017', '12/26/2017', '12/25/2017', '12/24/2017',
       '12/22/2017', '12/21/2017', '12/20/2017', '12/19/2017',
       '12/17/2017', '12/16/2017', '12/15/2017', '12/14/2017',
       '12/13/2017', '12/10/2017', '12/9/2017', '12/8/2017', '12/7/2017',
       '12/6/2017', '12/5/2017', '12/4/2017', '12/2/2017', '11/30/2017',
       '11/29/2017', '11/28/2017', '11/27/2017', '11/26/2017',
       '11/25/2017', '11/23/2017', '11/22/2017', '11/21/2017',
       '11/20/2017', '11/19/2017', '11/18/2017', '11/17/2017',
       '11/16/2017', '11/15/2017', '11/14/2017', '11/13/2017',
       '11/10/2017', '11/8/2017', '11/7/2017', '11/6/2017', '11/5/2017',
       '11/4/2017', '11/3/2017', '11/2/2017', '11/1/2017', '10/31/2017',
       '10/30/2017', '10/29/2017', '10/28/2017', '10/25/2017',
       '10/24/2017', '10/23/2017', '10/22/2017', '10/21/2017',
       '10/19/2017', '10/18/2017', '10/17/2017', '10/16/2017',
       '10/15/2017', '10/14/2017', '10/13/2017', '10/12/2017',
       '10/10/2017', '10/9/2017', '10/8/2017', '10/7/2017', '10/6/2017',
       '10/5/2017', '10/4/2017', '10/3/2017', '10/2/2017', '10/1/2017',
       '9/30/2017', '9/29/2017', '9/28/2017', '9/27/2017', '9/26/2017',
       '9/25/2017', '9/24/2017', '9/22/2017', '9/20/2017', '9/19/2017',
       '9/18/2017', '9/13/2017', '9/12/2017', '9/11/2017', '9/9/2017',
       '9/8/2017', '9/7/2017', '9/6/2017', '9/5/2017', '9/2/2017',
       '9/1/2017', '8/29/2017', '8/28/2017', '8/27/2017', '8/26/2017',
       '8/25/2017', '8/23/2017', '8/22/2017', '8/21/2017', '8/20/2017',
       '8/18/2017', '8/17/2017', '8/16/2017', '8/15/2017', '8/14/2017',
       '8/13/2017', '8/11/2017', '8/10/2017', '8/8/2017', '8/7/2017',
       '8/6/2017', '8/5/2017', '8/4/2017', '7/31/2017', '7/30/2017',
       '7/29/2017', '7/28/2017', '7/27/2017', '7/25/2017'], dtype=object)

In [23]:
cgm_data=cgm_data.set_index('Date').drop(index=date_to_remove).reset_index()
cgm_data

            Date      Time  Sensor Glucose (mg/dL)     date_time_stamp
0      1/21/2018  23:59:18                    91.0 2018-01-21 23:59:18
1      1/21/2018  23:54:18                    93.0 2018-01-21 23:54:18
2      1/21/2018  23:49:18                    95.0 2018-01-21 23:49:18
3      1/21/2018  23:44:18                    98.0 2018-01-21 23:44:18
4      1/21/2018  23:39:18                   101.0 2018-01-21 23:39:18
...          ...       ...                     ...                 ...
10380  7/26/2017   0:23:57                    72.0 2017-07-26 00:23:57
10381  7/26/2017   0:18:57                    67.0 2017-07-26 00:18:57
10382  7/26/2017   0:13:57                    64.0 2017-07-26 00:13:57
10383  7/26/2017   0:08:57                    64.0 2017-07-26 00:08:57
10384  7/26/2017   0:03:57                    65.0 2017-07-26 00:03:57

[10385 rows x 4 columns]

In [24]:
print(cgm_data["Sensor Glucose (mg/dL)"].isnull().sum())
cgm_test=cgm_data.copy()

0

In [25]:
cgm_test=cgm_test.set_index(pd.DatetimeIndex(cgm_data['date_time_stamp']))
cgm_test

,Date,Time,Sensor Glucose (mg/dL),date_time_stamp
date_time_stamp,,,,
2018-01-21 23:59:18,1/21/2018,23:59:18,91.0,2018-01-21 23:59:18
2018-01-21 23:54:18,1/21/2018,23:54:18,93.0,2018-01-21 23:54:18
2018-01-21 23:49:18,1/21/2018,23:49:18,95.0,2018-01-21 23:49:18
2018-01-21 23:44:18,1/21/2018,23:44:18,98.0,2018-01-21 23:44:18
2018-01-21 23:39:18,1/21/2018,23:39:18,101.0,2018-01-21 23:39:18
...,...,...,...,...
2017-07-26 00:23:57,7/26/2017,0:23:57,72.0,2017-07-26 00:23:57
2017-07-26 00:18:57,7/26/2017,0:18:57,67.0,2017-07-26 00:18:57
2017-07-26 00:13:57,7/26/2017,0:13:57,64.0,2017-07-26 00:13:57
2017-07-26 00:08:57,7/26/2017,0:08:57,64.0,2017-07-26 00:08:57
2017-07-26 00:03:57,7/26/2017,0:03:57,65.0,2017-07-26 00:03:57

In [26]:
insulin_data['date_time_stamp']=pd.to_datetime(insulin_data['Date'] + ' ' + insulin_data['Time'])
insulin_data

,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,Temp Basal Duration (h:mm:ss),...,Insulin Action Curve Time,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name,date_time_stamp
0,0,2/12/2018,13:20:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TEMPORARY,NaN,NaN,NaN,NaN,2018-02-12 13:20:53
1,1,2/12/2018,13:20:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:20:48
2,2,2/12/2018,13:18:48,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48
3,3,2/12/2018,13:18:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48
4,4,2/12/2018,13:12:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLOSED_LOOP_MICRO_BOLUS,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:12:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41430,22135,7/24/2017,19:00:01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 19:00:01
41431,22136,7/24/2017,18:59:44,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41432,22137,7/24/2017,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41433,22138,7/24/2017,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41434,22139,7/24/2017,18:59:42,7/24/2017 18:59,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:42

In [27]:
start_of_auto_mode=insulin_data.sort_values(by='date_time_stamp',ascending=True).loc[insulin_data['Alarm']=='AUTO MODE ACTIVE PLGM OFF'].iloc[0]['date_time_stamp']
print(start_of_auto_mode)
print(type(start_of_auto_mode))

2017-08-09 08:07:13
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [28]:
auto_mode_data_df=cgm_data.sort_values(by='date_time_stamp',ascending=True).loc[cgm_data['date_time_stamp']>=start_of_auto_mode]
print(type(auto_mode_data_df))

<class 'pandas.core.frame.DataFrame'>

In [29]:
manual_mode_data_df=cgm_data.sort_values(by='date_time_stamp',ascending=True).loc[cgm_data['date_time_stamp']<start_of_auto_mode]

In [30]:
auto_mode_data_df_date_index=auto_mode_data_df.copy()

In [31]:
auto_mode_data_df_date_index=auto_mode_data_df_date_index.set_index('date_time_stamp')
auto_mode_data_df_date_index

                          Date      Time  Sensor Glucose (mg/dL)
date_time_stamp
2017-08-09 08:10:05   8/9/2017   8:10:05                   173.0
2017-08-09 08:15:05   8/9/2017   8:15:05                   177.0
2017-08-09 08:20:05   8/9/2017   8:20:05                   176.0
2017-08-09 08:25:05   8/9/2017   8:25:05                   175.0
2017-08-09 08:30:05   8/9/2017   8:30:05                   177.0
...                        ...       ...                     ...
2018-01-21 23:39:18  1/21/2018  23:39:18                   101.0
2018-01-21 23:44:18  1/21/2018  23:44:18                    98.0
2018-01-21 23:49:18  1/21/2018  23:49:18                    95.0
2018-01-21 23:54:18  1/21/2018  23:54:18                    93.0
2018-01-21 23:59:18  1/21/2018  23:59:18                    91.0

[9135 rows x 3 columns]

In [32]:
list1=auto_mode_data_df_date_index.groupby('Date')['Sensor Glucose (mg/dL)'].count().where(lambda x:x>0.8*288).dropna().index.tolist()
print(list1)
#

['1/18/2018', '1/19/2018', '1/21/2018', '10/11/2017', '10/20/2017', '10/26/2017', '10/27/2017', '11/11/2017', '11/12/2017', '11/24/2017', '11/9/2017', '12/1/2017', '12/11/2017', '12/12/2017', '12/18/2017', '12/23/2017', '12/3/2017', '8/12/2017', '8/19/2017', '8/24/2017', '8/30/2017', '8/31/2017', '9/10/2017', '9/14/2017', '9/15/2017', '9/16/2017', '9/17/2017', '9/21/2017', '9/23/2017', '9/3/2017', '9/4/2017']

In [33]:
auto_mode_data_df_date_index=auto_mode_data_df_date_index.loc[auto_mode_data_df_date_index['Date'].isin(list1)]
print(auto_mode_data_df_date_index)

                          Date      Time  Sensor Glucose (mg/dL)
date_time_stamp
2017-08-12 00:03:31  8/12/2017   0:03:31                   148.0
2017-08-12 00:08:31  8/12/2017   0:08:31                   147.0
2017-08-12 00:13:31  8/12/2017   0:13:31                   143.0
2017-08-12 00:18:31  8/12/2017   0:18:31                   137.0
2017-08-12 00:23:31  8/12/2017   0:23:31                   131.0
...                        ...       ...                     ...
2018-01-21 23:39:18  1/21/2018  23:39:18                   101.0
2018-01-21 23:44:18  1/21/2018  23:44:18                    98.0
2018-01-21 23:49:18  1/21/2018  23:49:18                    95.0
2018-01-21 23:54:18  1/21/2018  23:54:18                    93.0
2018-01-21 23:59:18  1/21/2018  23:59:18                    91.0

[8928 rows x 3 columns]

### % in Hyperglycemia (> 180 mg/dL) - wholeday, daytime, overnight

In [18]:
    percent_time_in_hyperglycemia_wholeday_automode=(auto_mode_data_df_date_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
print(percent_time_in_hyperglycemia_wholeday_automode)

TypeError: Index must be DatetimeIndex

In [17]:
percent_time_in_hyperglycemia_daytime_automode=(auto_mode_data_df_date_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

TypeError: Index must be DatetimeIndex

In [18]:
percent_time_in_hyperglycemia_overnight_automode=(auto_mode_data_df_date_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### % in Hyperglycemia critical (> 250 mg/dL) - wholeday, daytime, overnight

In [19]:
percent_time_in_hyperglycemia_critical_wholeday_automode=(auto_mode_data_df_date_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [20]:
percent_time_in_hyperglycemia_critical_daytime_automode=(auto_mode_data_df_date_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [21]:
percent_time_in_hyperglycemia_critical_overnight_automode=(auto_mode_data_df_date_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### %  in range (CGM >= 70 mg/dL and CGM <= 180 mg/dL) - wholeday, daytime, overnight

In [22]:
percent_time_in_range_wholeday_automode=(auto_mode_data_df_date_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>=70) & (auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [23]:
percent_time_in_range_daytime_automode=(auto_mode_data_df_date_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>=70) & (auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [24]:
percent_time_in_range_overnight_automode=(auto_mode_data_df_date_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>=70) & (auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### %  in range secondary (CGM >= 70 mg/dL and CGM <= 150 mg/dL) - wholeday, daytime, overnight

In [25]:
percent_time_in_range_sec_wholeday_automode=(auto_mode_data_df_date_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>=70) & (auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [26]:
percent_time_in_range_sec_daytime_automode=(auto_mode_data_df_date_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>=70) & (auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [27]:
percent_time_in_range_sec_overnight_automode=(auto_mode_data_df_date_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']>=70) & (auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### % in hypoglycemia level 1 (CGM < 70 mg/dL) - wholeday, daytime, overnight

In [28]:
percent_time_in_hypoglycemia_lv1_wholeday_automode=(auto_mode_data_df_date_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [29]:
percent_time_in_hypoglycemia_lv1_daytime_automode=(auto_mode_data_df_date_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [30]:
percent_time_in_hypoglycemia_lv1_overnight_automode=(auto_mode_data_df_date_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### % in hypoglycemia level 2 (CGM < 54 mg/dL) - wholeday, daytime, overnight

In [31]:
percent_time_in_hypoglycemia_lv2_wholeday_automode=(auto_mode_data_df_date_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [32]:
percent_time_in_hypoglycemia_lv2_daytime_automode=(auto_mode_data_df_date_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [33]:
percent_time_in_hypoglycemia_lv2_overnight_automode=(auto_mode_data_df_date_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto_mode_data_df_date_index['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [34]:
manual_mode_data_df_index=manual_mode_data_df.copy()
manual_mode_data_df_index=manual_mode_data_df_index.set_index('date_time_stamp')

In [35]:
list2=manual_mode_data_df_index.groupby('Date')['Sensor Glucose (mg/dL)'].count().where(lambda x:x>0.8*288).dropna().index.tolist()
#

In [36]:
manual_mode_data_df_index=manual_mode_data_df_index.loc[manual_mode_data_df_index['Date'].isin(list2)]

### % in Hyperglycemia (> 180 mg/dL) - wholeday, daytime, overnight

In [37]:
percent_time_in_hyperglycemia_wholeday_manual=(manual_mode_data_df_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [38]:
percent_time_in_hyperglycemia_daytime_manual=(manual_mode_data_df_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [39]:
percent_time_in_hyperglycemia_overnight_manual=(manual_mode_data_df_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### % in Hyperglycemia critical (> 250 mg/dL) - wholeday, daytime, overnight

In [40]:
percent_time_in_hyperglycemia_critical_wholeday_manual=(manual_mode_data_df_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [41]:
percent_time_in_hyperglycemia_critical_daytime_manual=(manual_mode_data_df_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [42]:
percent_time_in_hyperglycemia_critical_overnight_manual=(manual_mode_data_df_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### %  in range (CGM >= 70 mg/dL and CGM <= 180 mg/dL) - wholeday, daytime, overnight

In [43]:
percent_time_in_range_wholeday_manual=(manual_mode_data_df_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual_mode_data_df_index['Sensor Glucose (mg/dL)']>=70) & (manual_mode_data_df_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [44]:
percent_time_in_range_daytime_manual=(manual_mode_data_df_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual_mode_data_df_index['Sensor Glucose (mg/dL)']>=70) & (manual_mode_data_df_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [45]:
percent_time_in_range_overnight_manual=(manual_mode_data_df_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual_mode_data_df_index['Sensor Glucose (mg/dL)']>=70) & (manual_mode_data_df_index['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### %  in range secondary (CGM >= 70 mg/dL and CGM <= 150 mg/dL) - wholeday, daytime, overnight

In [46]:
percent_time_in_range_sec_wholeday_manual=(manual_mode_data_df_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual_mode_data_df_index['Sensor Glucose (mg/dL)']>=70) & (manual_mode_data_df_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [47]:
percent_time_in_range_sec_daytime_manual=(manual_mode_data_df_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual_mode_data_df_index['Sensor Glucose (mg/dL)']>=70) & (manual_mode_data_df_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [48]:
percent_time_in_range_sec_overnight_manual=(manual_mode_data_df_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual_mode_data_df_index['Sensor Glucose (mg/dL)']>=70) & (manual_mode_data_df_index['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### % in hypoglycemia level 1 (CGM < 70 mg/dL) - wholeday, daytime, overnight

In [49]:
percent_time_in_hypoglycemia_lv1_wholeday_manual=(manual_mode_data_df_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [50]:
percent_time_in_hypoglycemia_lv1_daytime_manual=(manual_mode_data_df_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [51]:
percent_time_in_hypoglycemia_lv1_overnight_manual=(manual_mode_data_df_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

### % in hypoglycemia level 2 (CGM < 54 mg/dL) - wholeday, daytime, overnight

In [52]:
percent_time_in_hypoglycemia_lv2_wholeday_manual=(manual_mode_data_df_index.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [53]:
percent_time_in_hypoglycemia_lv2_daytime_manual=(manual_mode_data_df_index.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [64]:
percent_time_in_hypoglycemia_lv2_overnight_manual=(manual_mode_data_df_index.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual_mode_data_df_index['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

Series([], Name: Sensor Glucose (mg/dL), dtype: float64)

### convert to a dataframe with all values in auto mode and manual mode

In [55]:
results_df = pd.DataFrame({'percent_time_in_hyperglycemia_overnight':[ percent_time_in_hyperglycemia_overnight_manual.mean(axis=0),percent_time_in_hyperglycemia_overnight_automode.mean(axis=0)],

SyntaxError: unexpected EOF while parsing (888109144.py, line 1)

In [58]:
'percent_time_in_hyperglycemia_critical_overnight':[ percent_time_in_hyperglycemia_critical_overnight_manual.mean(axis=0),percent_time_in_hyperglycemia_critical_overnight_automode.mean(axis=0)],

SyntaxError: illegal target for annotation (1945316966.py, line 1)

In [68]:
results_df = pd.DataFrame({'percent_time_in_hyperglycemia_overnight':[ percent_time_in_hyperglycemia_overnight_manual.mean(axis=0),percent_time_in_hyperglycemia_overnight_automode.mean(axis=0)],'percent_time_in_hyperglycemia_critical_overnight':[ percent_time_in_hyperglycemia_critical_overnight_manual.mean(axis=0),percent_time_in_hyperglycemia_critical_overnight_automode.mean(axis=0)],'percent_time_in_range_overnight':[ percent_time_in_range_overnight_manual.mean(axis=0),percent_time_in_range_overnight_automode.mean(axis=0)],'percent_time_in_range_sec_overnight':[ percent_time_in_range_sec_overnight_manual.mean(axis=0),percent_time_in_range_sec_overnight_automode.mean(axis=0)],'percent_time_in_hypoglycemia_lv1_overnight':[ percent_time_in_hypoglycemia_lv1_overnight_manual.mean(axis=0),percent_time_in_hypoglycemia_lv1_overnight_automode.mean(axis=0)],'percent_time_in_hypoglycemia_lv2_overnight':[ np.nan_to_num(percent_time_in_hypoglycemia_lv2_overnight_manual.mean(axis=0)), np.nan_to_num(percent_time_in_hypoglycemia_lv2_overnight_automode.mean(axis=0))],'percent_time_in_hyperglycemia_daytime':[ percent_time_in_hyperglycemia_daytime_manual.mean(axis=0),percent_time_in_hyperglycemia_daytime_automode.mean(axis=0)],'percent_time_in_hyperglycemia_critical_daytime':[ percent_time_in_hyperglycemia_critical_daytime_manual.mean(axis=0),percent_time_in_hyperglycemia_critical_daytime_automode.mean(axis=0)],'percent_time_in_range_daytime':[ percent_time_in_range_daytime_manual.mean(axis=0),percent_time_in_range_daytime_automode.mean(axis=0)],'percent_time_in_range_sec_daytime':[ percent_time_in_range_sec_daytime_manual.mean(axis=0),percent_time_in_range_sec_daytime_automode.mean(axis=0)],'percent_time_in_hypoglycemia_lv1_daytime':[ percent_time_in_hypoglycemia_lv1_daytime_manual.mean(axis=0),percent_time_in_hypoglycemia_lv1_daytime_automode.mean(axis=0)],'percent_time_in_hypoglycemia_lv2_daytime':[ percent_time_in_hypoglycemia_lv2_daytime_manual.mean(axis=0),percent_time_in_hypoglycemia_lv2_daytime_automode.mean(axis=0)],'percent_time_in_hyperglycemia_wholeday':[ percent_time_in_hyperglycemia_wholeday_manual.mean(axis=0),percent_time_in_hyperglycemia_wholeday_automode.mean(axis=0)],'percent_time_in_hyperglycemia_critical_wholeday':[ percent_time_in_hyperglycemia_critical_wholeday_manual.mean(axis=0),percent_time_in_hyperglycemia_critical_wholeday_automode.mean(axis=0)],'percent_time_in_range_wholeday':[ percent_time_in_range_wholeday_manual.mean(axis=0),percent_time_in_range_wholeday_automode.mean(axis=0)],'percent_time_in_range_sec_wholeday':[ percent_time_in_range_sec_wholeday_manual.mean(axis=0),percent_time_in_range_sec_wholeday_automode.mean(axis=0)],'percent_time_in_hypoglycemia_lv1_wholeday':[ percent_time_in_hypoglycemia_lv1_wholeday_manual.mean(axis=0),percent_time_in_hypoglycemia_lv1_wholeday_automode.mean(axis=0)],'percent_time_in_hypoglycemia_lv2_wholeday':[ percent_time_in_hypoglycemia_lv2_wholeday_manual.mean(axis=0),percent_time_in_hypoglycemia_lv2_wholeday_automode.mean(axis=0)]                                       }, index=['manual_mode','auto_mode'])

In [70]:
results_df.to_csv('Results.csv',header=False,index=False)